* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20rem;
  color: var(--primary-color);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
 font-size: 60rem;
 text-transform: uppercase;
}

h2 {
  font-size: 60rem;
  margin-bottom: 50rem;
  text-transform: uppercase;
  line-height: 1.2;
}

 h3 {
  font-size: 50rem;
 }

 h4 {
  font-size: 45rem;
 }

 h5 {
  font-size: 40rem;
 }

 h6 {
  font-size: 35rem;
 }

a {
  text-decoration: none;
}

p {
  margin-bottom: 30rem;
}

.responsive-table {
  overflow: hidden;
  overflow: auto;  
}

table {
  min-width: 360px;
  width: 100%;
  border-collapse: collapse;
}

table caption {
  font-style: italic;
  font-size: 16rem;
  text-align: left;
  margin-bottom: 10rem;
}

table td, table th {
  white-space: nowrap;
  padding: 10rem;
  text-align: left;
  border: 1rem solid var(--light-gray-color);
}

tfoot td, table th {
  background: var(--light-gray-color);
}